a {
  text-decoration: none;
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: -moz-calc(100vh - 168px);
  height: -webkit-calc(100vh -168px);
  height: calc(100vh - 168px);
}

.controls {
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
}

.controls input {
  border: none;
}

.map-container {
  width: 100%;
  height: -moz-calc(100vh - 168px);
  height: -webkit-calc(100vh - 168px);
  height: calc(100vh - 168px);
}
.map-container-singleEvent {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: -moz-calc(100vh - 168px);
  height: -webkit-calc(100vh - 168px);
  height: calc(100vh - 168px);
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

/* modals */

#modalBox > * {
  pointer-events: none;
}
